body {
    background: #000000;
    color: #ffffff2f;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: center;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
   
h1 {
    background: url("./Ebvr.gif");
    background-size: cover;
    background-position: center;
    font-size: 10vw;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animatedBackground 5s; 
}

