body {
    background: #000000;
    color: #00000047;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
   
h1 {
    background: url("./c2396c93261708302148b3a92c38fdcb.gif");
    background-size: cover;
    background-position: bottom;
    font-size: 10vw;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animatedBackground 5s; 
}

@keyframes animatedBackground {
    from {
        background-position: 50% 0%;
    }
    to {
        background-position: 50%;
    }
}